<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Create a Team and Heroes!</h1>

    <form class="" action="/teams" method="post">
      <div class="">
        <label for="team name">Team Name</label>
        <input type="text" name="team[name]" value="">
        <label for="team motto">Team Motto</label>
        <input type="text" name="team[motto]" value="">
      </div>
      <div class="">
        <label for="member name">Member Name</label>
        <input id= "member1_name" type="text" name="team[hero][][name]" value="">
        <label for="member power">Member Power</label>
        <input id="member1_power" type="text" name="team[hero][][power]" value="">
        <label for="member bio">Member Bio</label>
        <input id="member1_bio" type="text" name="team[hero][][bio]" value="">
      </div>
      <div class="">
        <label for="member name">Member Name</label>
        <input id= "member2_name" type="text" name="team[hero][][name]" value="">
        <label for="member power">Member Power</label>
        <input id="member2_power" type="text" name="team[hero][][power]" value="">
        <label for="member bio">Member Bio</label>
        <input id="member2_bio" type="text" name="team[hero][][bio]" value="">
      </div>
      <div class="">
        <label for="member name">Member Name</label>
        <input id= "member3_name" type="text" name="team[hero][][name]" value="">
        <label for="member power">Member Power</label>
        <input id="member3_power" type="text" name="team[hero][][power]" value="">
        <label for="member bio">Member Bio</label>
        <input id="member3_bio" type="text" name="team[hero][][bio]" value="">
      </div>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
